<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIJOW Academy</title>

    <!-- Style CSS -->
    <link rel="stylesheet" href="../../../../css/style.css" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="../style.min.css" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Boxicons -->
    <link
      rel="stylesheet"
      href="../../../../lib/boxicons v2.1.4/css/boxicons.min.css"
    />

    <!-- Swiper JS -->
    <link
      rel="stylesheet"
      href="../../../../lib/swiperjs/swiper-bundle.min.css"
    />

    <!-- AOS JS-->
    <link rel="stylesheet" href="../../../../lib/aos/dist/aos.css" />
  </head>
  <body>
    <!-- Header Start -->
    <header class="header">
      <div class="nav">
        <a href="../../../../index.html" class="nav-title"
          ><span>SIJOW</span> Academy</a
        >

        <!-- Hambuger Menu -->
        <button class="hambuger-menu" onclick="hamburgerToggle()">
          <div class="icon">
            <i class="bx bx-menu active" id="openNav"></i>
          </div>
          <div class="icon">
            <i class="bx bx-x" id="closeNav"></i>
          </div>
        </button>

        <!-- Nav Link -->
        <div class="nav-links" id="nav">
          <a href="../../../../index.html" class="nav-item"> Home </a>
          <a href="../../../../pages/about/index.html" class="nav-item">
            About Us
          </a>

          <!-- Nav Dropdown -->
          <div class="nav-dropdown">
            <div class="dropdown-menu">
              <button onclick="dropdownToggle()">
                Courses
                <i class="bx bx-chevron-down"></i>
              </button>
            </div>
            <ul class="dropdown-links" id="dropdown">
              <li class="dropdown-item">
                <a href="../../../../pages/courses/front-end/index.html">
                  Front End Developer
                </a>
              </li>
              <li class="dropdown-item">
                <a href="../../../../pages/courses/back-end/index.html">
                  Back End Developer</a
                >
              </li>
              <li class="dropdown-item">
                <a href="../../../../pages/courses/others/index.html">
                  Kelas Lainnya
                </a>
              </li>
            </ul>
          </div>

          <a href="../../../../pages/career/index.html" class="nav-item"
            >Career</a
          >
          <a
            href="../../../../pages/register/index.html"
            class="nav-item trial-link"
            >Join Class</a
          >
        </div>
      </div>
    </header>
    <!-- Header Finish -->

    <!-- Hero Start -->
    <section class="course-hero" id="courseHero">
      <div class="hero-content" data-aos="fade-up">
        <div class="hero-title">
          <h1 class="course-title" data-aos="fade-up" data-aos-delay="100">
            Front End Developer
          </h1>
          <div class="breadcrumb" data-aos="fade-up" data-aos-delay="200">
            <a href="../../../../pages/courses/front-end/index.html"
              >Front End Developer</a
            >
            <i class="bx bx-chevron-right"></i>
            <a href="../../../../pages/courses/front-end/class/angular.html"
              >Angular JS</a
            >
          </div>
        </div>
        <a class="scroll" href="#about" data-aos="fade-up" data-aos-delay="100"
          >Tentang Kelas <i class="bx bx-down-arrow-circle"></i
        ></a>
      </div>
      <div class="class-nav">
        <div class="class-child">
          <a
            href="../../../../pages/courses/front-end/class/react.html"
            class=""
            data-aos="fade-up"
            >React JS</a
          >
          <a
            href="../../../../pages/courses/front-end/class/vue.html"
            class=""
            data-aos="fade-up"
            data-aos-delay="100"
            >Vue JS</a
          >
          <a
            href="../../../../pages/courses/front-end/class/angular.html"
            class="active"
            data-aos="fade-up"
            data-aos-delay="200"
            >Angular JS</a
          >
          <a
            href="../../../../pages/courses/front-end/class/tailwind.html"
            class=""
            data-aos="fade-up"
            data-aos-delay="300"
            >Tailwind CSS</a
          >
          <a
            href="../../../../pages/courses/front-end/class/boostrap.html"
            class=""
            data-aos="fade-up"
            data-aos-delay="400"
            >Boostrap 5</a
          >
        </div>
        <a
          href="../../../../pages/courses/front-end/index.html"
          class="all"
          data-aos="fade-up"
          >Semua Kelas</a
        >
      </div>
    </section>
    <!-- Hero Finish -->

    <!-- About Start -->
    <section class="about" id="about">
      <div class="about-content" data-aos="zoom-in">
        <div class="about-course">
          <h1>Membangun Front End Website dengan Angular JS</h1>
          <p>
            AngularJS adalah sebuah framework JavaScript yang dikembangkan oleh
            Google untuk membangun aplikasi web dinamis, terutama Single Page
            Applications (SPA). AngularJS pertama kali dirilis pada tahun 2010
            dan sejak itu menjadi salah satu framework paling populer untuk
            pengembangan aplikasi web. AngularJS memungkinkan developer untuk
            menggunakan HTML sebagai template language dan memperluas sintaks
            HTML untuk mendeklarasikan komponen aplikasi secara lebih jelas dan
            mudah dikelola.
          </p>
          <a href="../../../../pages/register/index.html">Daftar Sekarang</a>
        </div>
        <div class="about-include" data-aos="fade-up" data-aos-delay="100">
          <h2>Kursus ini mencakup</h2>
          <ul>
            <li>
              <i class="bx bx-check-circle"></i>
              Sertifikasi Lulus
            </li>
            <li>
              <i class="bx bx-check-circle"></i>
              Dashboard pembelajaran
            </li>
            <li>
              <i class="bx bx-check-circle"></i>
              Akun Pelajar
            </li>
            <li>
              <i class="bx bx-check-circle"></i>
              Projek Portofolio
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- About Finish -->

    <!-- Excess Start -->
    <section class="excess" id="excess">
      <h1 class="title" data-aos="fade-right">Keunggulan Angular JS</h1>
      <div class="excess-list">
        <div class="item" data-aos="fade-up">
          <div class="card-content">
            <h2>Two-Way Data Binding</h2>
            <p>
              Menghemat waktu dan usaha pengembang karena perubahan pada model
              secara otomatis tercermin di view, dan sebaliknya, tanpa perlu
              kode tambahan untuk memperbarui UI
            </p>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="100">
          <div class="card-content">
            <h2>Modular dan Terstruktur</h2>
            <p>
              Arsitektur MVC membuat pengembangan aplikasi lebih terstruktur.
              Kode yang terpisah antara tampilan (view), data (model), dan
              logika (controller) memudahkan pemeliharaan dan pengembangan
              aplikasi skala besar.
            </p>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="200">
          <div class="card-content">
            <h2>Directives dan Reusability</h2>
            <p>
              AngularJS memungkinkan developer untuk membuat directives khusus
              yang dapat digunakan kembali, sehingga mempercepat proses
              pengembangan dan meningkatkan efisiensi.
            </p>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-delay="300">
          <div class="card-content">
            <h2>Komunitas Besar dan Dukungan Google</h2>
            <p>
              Karena dikembangkan oleh Google, AngularJS mendapat dukungan yang
              kuat dari komunitas serta memiliki dokumentasi yang sangat
              lengkap. Ada banyak resource, tutorial, dan plugin yang tersedia
              untuk membantu pengembangan dengan AngularJS
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Excess Finish -->

    <!-- Roadmap Start -->
    <section class="roadmap" id="roadmap" data-aos="fade-up">
      <div class="roadmap-table">
        <div class="table-header">
          <h1 class="title">Modul Pembelajaran</h1>
          <ul>
            <li>12 Modul</li>
            <li>4 Exam</li>
            <li>2 Project</li>
          </ul>
        </div>
        <div class="table-body">
          <!-- Modul 1 -->
          <div class="item">
            <div class="item-head">
              <div class="head-content">
                <span class="item-id">1</span>
                <div class="content">
                  <h2 class="title">HTML & CSS</h2>
                  <p class="desc">
                    Angular bekerja dengan HTML dan CSS dalam templatenya.
                    Pemahaman mendalam tentang HTML dan CSS sangat diperlukan.
                  </p>
                </div>
              </div>
              <i class="bx bx-chevron-down"></i>
            </div>
            <div class="item-body">
              <ul>
                <li>Struktur dokumen HTML</li>
                <li>Elemen-elemen dasar (div, h1, p, span, dll.)</li>
                <li>Form dan input data</li>
                <li>Flexbox & Grid</li>
                <li>Animasi dan Transisi</li>
                <li>Responsivitas (Media Query)</li>
                <li>CSS Preprocessors (Sass, LESS)</li>
              </ul>
            </div>
          </div>

          <!-- Modul 2 -->
          <div class="item">
            <div class="item-head">
              <div class="head-content">
                <span class="item-id">2</span>
                <div class="content">
                  <h2 class="title">Dasar-Dasar JavaScript</h2>
                  <p class="desc">
                    Sebelum mempelajari Angular, sangat penting untuk memiliki
                    pemahaman yang baik tentang JavaScript, khususnya TypeScript
                    yang menjadi dasar Angular.
                  </p>
                </div>
              </div>
              <i class="bx bx-chevron-down"></i>
            </div>
            <div class="item-body">
              <ul>
                <li>Variabel (var, let, const)</li>
                <li>Tipe Data (String, Number, Boolean, Array, Object)</li>
                <li>Kontrol Alur (If, Else, Switch)</li>
                <li>Loop (for, while)</li>
                <li>Fungsi (Function, Arrow Functions)</li>
                <li>Object dan Array Methods (map, filter, reduce)</li>
                <li>DOM Manipulation (querySelector, addEventListener)</li>
                <li>Asynchronous Programming (Promises, Async/Await)</li>
                <li>
                  ES6+ (Spread Operator, Destructuring, Template Literals)
                </li>
              </ul>
            </div>
          </div>

          <!-- Modul 3 -->
          <div class="item">
            <div class="item-head">
              <div class="head-content">
                <span class="item-id">3</span>
                <div class="content">
                  <h2 class="title">Dasar-Dasar Angular JS</h2>
                  <p class="desc">
                    Setelah menguasai JavaScript dan TypeScript, mulailah dengan
                    dasar-dasar Angular.
                  </p>
                </div>
              </div>
              <i class="bx bx-chevron-down"></i>
            </div>
            <div class="item-body">
              <ul>
                <li>Pengenalan Angular Js</li>
                <li>Instalasi Angular CLI</li>
                <li>Membuat dan Menjalankan Proyek Angulars</li>
                <li>Struktur Aplikasi Angular</li>
                <li>Templating di Angular (interpolasi, binding)</li>
                <li>Data Binding (One-way dan Two-way)</li>
                <li>Direktif Dasar (*ngIf, *ngFor)</li>
                <li>Angular Modules dan Komponen</li>
                <li>Lifecycle Hooks Komponen (ngOnInit, ngOnChanges, dll.)</li>
                <li>Angular Services dan Dependency Injection</li>
              </ul>
            </div>
          </div>

          <!-- Modul 4 -->
          <div class="item">
            <div class="item-head">
              <div class="head-content">
                <span class="item-id">4</span>
                <div class="content">
                  <h2 class="title">Komponen di Angular</h2>
                  <p class="desc">
                    Komponen adalah elemen utama di Angular. Pelajari cara
                    membuat dan mengelola komponen.
                  </p>
                </div>
              </div>
              <i class="bx bx-chevron-down"></i>
            </div>
            <div class="item-body">
              <ul>
                <li>Membuat Komponen dengan Angular CLI</li>
                <li>
                  Data Binding di Komponen (Property Binding & Event Binding)
                </li>
                <li>
                  Input dan Output Decorators (Passing data antara komponen)
                </li>
                <li>Komponen Lifecyclel</li>
                <li>Komponen Dinamis dan Asynchronous</li>
                <li>
                  Mengelola Templating dengan Direktif (ngIf, ngFor, ngClass,
                  ngStyle)
                </li>
                <li>Child vs Parent Komponen Komunikasi</li>
              </ul>
            </div>
          </div>

          <!-- Modul 5 -->
          <div class="item">
            <div class="item-head">
              <div class="head-content">
                <span class="item-id">5</span>
                <div class="content">
                  <h2 class="title">Routing dengan Angular Router</h2>
                  <p class="desc">
                    Mengelola navigasi halaman pada aplikasi SPA (Single Page
                    Application) dengan Angular Router.
                  </p>
                </div>
              </div>
              <i class="bx bx-chevron-down"></i>
            </div>
            <div class="item-body">
              <ul>
                <li>Setup dan Konfigurasi Routing</li>
                <li>RouterLink dan Navigasi Programatis</li>
                <li>Route Dinamis (Params)</li>
                <li>Nested Routes</li>
                <li>Route Guards untuk Autentikasi</li>
                <li>Lazy Loading Routes untuk optimasi performa</li>
              </ul>
            </div>
          </div>

          <!-- Modul 6 -->
          <div class="item">
            <div class="item-head">
              <div class="head-content">
                <span class="item-id">6</span>
                <div class="content">
                  <h2 class="title">Forms dan Validasi</h2>
                  <p class="desc">
                    Mengelola input dari pengguna melalui formulir dan
                    menerapkan validasi.
                  </p>
                </div>
              </div>
              <i class="bx bx-chevron-down"></i>
            </div>
            <div class="item-body">
              <ul>
                <li>Reactive Forms vs Template-Driven Forms</li>
                <li>FormGroup, FormControl, dan FormBuilder</li>
                <li>Two-way Data Binding dengan ngModel</li>
                <li>
                  Validasi Form (Built-in Validators dan Custom Validators)
                </li>
                <li>Error Handling pada Form</li>
              </ul>
            </div>
          </div>

          <!-- Modul 7 -->
          <div class="item">
            <div class="item-head">
              <div class="head-content">
                <span class="item-id">7</span>
                <div class="content">
                  <h2 class="title">Konsumsi API dan HTTP Client</h2>
                  <p class="desc">
                    Pelajari cara berinteraksi dengan backend menggunakan HTTP
                    di Angular.
                  </p>
                </div>
              </div>
              <i class="bx bx-chevron-down"></i>
            </div>
            <div class="item-body">
              <ul>
                <li>Menggunakan Angular HttpClientModule</li>
                <li>GET, POST, PUT, DELETE Request</li>
                <li>Handling Responses dan Error dengan Observables</li>
                <li>Penggunaan RxJS (Reactive Extensions for JavaScript)</li>
                <li>
                  Menggunakan Interceptors untuk Authentication dan
                  Authorization
                </li>
              </ul>
            </div>
          </div>

          <!-- Modul 8 -->
          <div class="item">
            <div class="item-head">
              <div class="head-content">
                <span class="item-id">8</span>
                <div class="content">
                  <h2 class="title">State Management di Angular</h2>
                  <p class="desc">
                    Belajar mengelola state aplikasi dengan baik, terutama pada
                    aplikasi yang kompleks.
                  </p>
                </div>
              </div>
              <i class="bx bx-chevron-down"></i>
            </div>
            <div class="item-body">
              <ul>
                <li>
                  Menggunakan Angular Service untuk mengelola state antar
                  komponen
                </li>
                <li>Shared Service untuk komunikasi antar komponen</li>
                <li>Store dan Reducer pada NgRx</li>
                <li>Actions dan Effects pada NgRx</li>
                <li>Selectors untuk mendapatkan state tertentu</li>
                <li>Penggunaan NgRx DevTools untuk debugging</li>
              </ul>
            </div>
          </div>

          <!-- Modul 9 -->
          <div class="item">
            <div class="item-head">
              <div class="head-content">
                <span class="item-id">9</span>
                <div class="content">
                  <h2 class="title">Dependency Injection dan Services</h2>
                  <p class="desc">
                    Memahami konsep Dependency Injection dan bagaimana Angular
                    mengimplementasikannya.
                  </p>
                </div>
              </div>
              <i class="bx bx-chevron-down"></i>
            </div>
            <div class="item-body">
              <ul>
                <li>Membuat dan Menggunakan Service</li>
                <li>Injecting Service ke dalam Komponen</li>
                <li>
                  Hierarki DI pada Angular (Module-level vs Component-level)
                </li>
                <li>Injector Token dan Optional Dependency Injection</li>
              </ul>
            </div>
          </div>

          <!-- Modul 10 -->
          <div class="item">
            <div class="item-head">
              <div class="head-content">
                <span class="item-id">10</span>
                <div class="content">
                  <h2 class="title">Testing di Angular</h2>
                  <p class="desc">
                    Mengetes aplikasi Angular untuk memastikan kualitas kode.
                  </p>
                </div>
              </div>
              <i class="bx bx-chevron-down"></i>
            </div>
            <div class="item-body">
              <ul>
                <li>Testing Komponen dan Service dengan Jasmine dan Karma</li>
                <li>Menggunakan Angular TestBed untuk menguji komponen</li>
                <li>Mocking Services dalam Unit Test</li>
                <li>Testing dengan Protractor atau Cypress</li>
                <li>Scenario Testing pada aplikasi Angular</li>
              </ul>
            </div>
          </div>

          <!-- Modul 11 -->
          <div class="item">
            <div class="item-head">
              <div class="head-content">
                <span class="item-id">11</span>
                <div class="content">
                  <h2 class="title">Optimasi dan Deployment</h2>
                  <p class="desc">
                    Mempelajari cara mengoptimalkan performa aplikasi Angular
                    dan melakukan deployment.
                  </p>
                </div>
              </div>
              <i class="bx bx-chevron-down"></i>
            </div>
            <div class="item-body">
              <ul>
                <li>Lazy Loading Modules</li>
                <li>AOT (Ahead-of-Time) Compilation</li>
                <li>Tree Shaking</li>
                <li>Minifikasi kode dan mengelola bundle size</li>
                <li>
                  Menggunakan Angular Universal untuk Server-Side Rendering
                  (SSR)
                </li>
                <li>Build Aplikasi Angular (ng build)</li>
                <li>
                  Deploy ke platform seperti Netlify, Vercel, Firebase, atau AWS
                </li>
                <li>
                  Penggunaan Continuous Integration dan Deployment (CI/CD)
                </li>
              </ul>
            </div>
          </div>

          <!-- Modul 12 -->
          <div class="item">
            <div class="item-head">
              <div class="head-content">
                <span class="item-id">12</span>
                <div class="content">
                  <h2 class="title">Projek Akhir</h2>
                  <p class="desc">Membuat Projek Akhir Pada Kelas Angular JS</p>
                </div>
              </div>
              <i class="bx bx-chevron-down"></i>
            </div>
            <div class="item-body">
              <ul>
                <li>Pengerjaan Projek</li>
                <li>Deploy Projek</li>
                <li>Presentasi Projek</li>
              </ul>
            </div>
          </div>

          <!-- Modul final -->
          <div class="item-sertif">
            <div class="item-head">
              <div class="head-content">
                <span class="item-cer"
                  ><i class="bx bx-certification"></i
                ></span>
                <div class="content">
                  <h2 class="title">Sertifikat kelulusan</h2>
                  <p class="desc">
                    Sertifikat penyelesaian program kelas Angular js
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Roadmap Finish -->

    <!-- Footer Start -->
    <footer class="footer">
      <!-- Footer Content -->
      <div class="footer-content">
        <!-- Footer Link -->
        <div class="footer-menus">
          <a href="../../../../index.html" class="footer-title"
            ><span>SIJOW</span> Academy</a
          >
          <div class="footer-links">
            <div class="footer-menu-content">
              <h3>Quick Links</h3>
              <ul>
                <li>
                  <a href="../../../../index.html">Home</a>
                </li>
                <li>
                  <a href="../../../../pages/about/index.html">About Us</a>
                </li>
                <li>
                  <a href="../../../../pages/career/index.html">Career</a>
                </li>
              </ul>
            </div>
            <div class="footer-menu-content">
              <h3>Our Courses</h3>
              <ul>
                <li>
                  <a href="../../../../pages/courses/front-end/index.html"
                    >Front End Developer</a
                  >
                </li>
                <li>
                  <a href="../../../../pages/courses/back-end/index.html"
                    >Back End Developer</a
                  >
                </li>
                <li>
                  <a href="../../../../pages/courses/others/index.html"
                    >Kelas Lainnya</a
                  >
                </li>
              </ul>
            </div>
            <div class="footer-menu-content">
              <h3>Contact</h3>
              <ul>
                <li>
                  <p>+62-123-456-789</p>
                </li>
                <li>
                  <p>example@gmail.com</p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Footer Copyright -->
        <div class="footer-copyrigt">
          <p>Copyright SIJOW Academy Website ©  2024</p>
        </div>
      </div>
    </footer>
    <!-- Footer Finish -->

    <!-- Script JS -->
    <script src="../../../../js/index.js"></script>

    <!-- Swiper JS Config -->
    <script src="../../../../lib/swiperjs/swiper-bundle.min.js"></script>
    <script>
      const swiper = new Swiper(".swiper", {
        direction: "horizontal",
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
      });
    </script>

    <!-- AOS js -->
    <script src="../../../../lib/aos/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 800,
        once: true,
        offset: 52,
      });
    </script>
  </body>
</html>
